.app {
  display: flex;
  margin: auto;
  max-width: 70%;
  flex-direction: column;
}
.add-new-task {
  padding: 10px 6rem;
  border: none;
  border-radius: 6px;
  background-color: #c0b2ff;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  box-shadow: 10px rgba(1, 1, 1, 1);

}
.add-new-task:hover {
  background-color: #d4cbff;
  box-shadow: 10px rgba(0, 0, 0, 1);
}
.notes-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}


@media (max-width:768px) {
  .app {
    max-width: 95%;
  }
}
@media (max-width:450px) {
  .notes-container {
    flex-direction: column;
    align-items: center;
  }

}